{% extends 'backend/base.html' %}
<!-- charge les templates -->
{% load static %}
<!-- debut de la page -->
{% block content %}
<main>
  <header class="flex justify-center">
    <h2 class="text-2xl mb-6">Coûts des entretiens de la flotte</h2>
  </header>

  <!-- Filtres -->
  <form method="get" class="mb-4">
    <div class="flex space-x-4 my-6"> <!-- Utilisation de flexbox pour aligner les éléments -->
      <!-- Sélectionner une immatriculation -->
      <div>
        <label class="label block mb-2">Sélectionner une immatriculation</label>
        <select name="immat" onchange="this.form.submit()" class="select select-bordered bg-base-100">
          <option value="">-- Toutes --</option>
          {% for i in distinct_immat %}
            <option value="{{ i }}" {% if request.GET.immat == i %}selected{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
      </div>
      <!-- Sélectionner un type d'opération -->
      <div>
        <label class="label block mb-2">Sélectionner un type d'opération</label>
        <select name="operation" onchange="this.form.submit()" class="select select-bordered bg-base-100">
          <option value="">-- Toutes --</option>
          {% for o in distinct_operations %}
            <option value="{{ o }}" {% if request.GET.operation == o %}selected{% endif %}>{{ o }}</option>
          {% endfor %}
        </select>
      </div>
      <!-- PieChart pour le montant total des coûts -->
      <div>
        <label class="label block mb-1">Montant total des coûts</label>      
        <div class="shadow-lg shadow-accent p-2">              
           <p class="text-2xl font-semibold">{{ total_cost }} €</p>         
        </div>
      </div>
    </div>
  </form>
  <!-- Tableaux -->
  <div
    class="h-96 overflow-x-auto rounded-box border border-neutral-content/5 bg-white"
  >
    <table class="table table-zebra">
      <!-- Head -->
      <thead class="bg-accent sticky top-0 z-10">
        <tr>
          <th>Date</th>
          <th>Immatriculation</th>
          <th>Coût</th>
          <th>operation</th>
          <th>Fournisseur</th>
        </tr>
      </thead>
      <!-- Body -->
      <tbody>
        {% for row in entretien_data %}
        <tr>
          <td>{{ row.date|date:"d/m/Y" }}</td>
          <td>{{ row.immat }}</td>
          <td>{{ row.cost|floatformat:2 }} €</td>
          <td>{{ row.operation }}</td>
          <td>{{ row.supplier }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Graphiques -->
  <div class="flex flex-wrap space-x-4 my-6">
    <!-- pieChart -->
    <div class="card w-[50rem] shadow-lg shadow-accent mt-6">
      <div class="card-body items-center">
        <h3 class="text-xl font-semibold mb-4">Répartition des coûts par opération</h3>
        <div>{{ operation_chart|safe }}</div>
      </div>
    </div>

    <!-- barChart -->
    <div class="card w-[50rem] shadow-lg shadow-accent mt-6">
      <div class="card-body items-center">
        <h3 class="text-xl font-semibold mb-4">Coûts totaux par immatriculation</h3>
        <div>{{ operation_histogram|safe }}</div>
      </div>
    </div>
  </div>

</main>
<!-- fin de la page -->
{%endblock %}
